= form_for @app, html: {class: 'form-horizontal'} do |f|
  - if @app.errors.any?
    #error_explanation
      %h2= "#{pluralize(@app.errors.count, "error")} prohibited this app from being saved:"
      %ul
        - @app.errors.full_messages.each do |msg|
          %li= msg
  .control-group.field
    %label.control-label Title
    .controls= f.text_field :title, placeholder: 'Title'
  .control-group
    .controls= f.submit 'Save', class: 'btn btn-primary'
